<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shop | Dialogika</title>

  <meta name="description" content="Beli E-book, Shop E-book" />
  <meta content="Beli E-book, Shop E-book" name="keywords">

  <link href="assets/img/favicon.webp" rel="icon">
  <link href="assets/img/apple-touch-icon.webp" rel="apple-touch-icon">

  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png" />
  <link rel="stylesheet preload" as="style" href="assets/css/preload.min.css" />
  <link rel="stylesheet preload" as="style" href="assets/css/icomoon.css" />

  <!-- VueJS -->
  <script src="assets/vendor/vue/vue.global.js"></script>
  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
  <meta property="og:site_name" content="Dialogika | Kelas Public Speaking" />
  <meta property="og:site" content="dialogika.co" />
  <meta property="og:title" content="Shop E-book, Beli E-book" />
  <meta property="og:description" content="Beli E-book, Shop E-book" />
  <meta property="og:image" content="assets/img/hero-bg.webp" />'
  <meta property="og:url" content="https://www.dialogika.co/shop/" />
  <meta property="og:type" content="page" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet" />


  <!-- Vendor CSS here -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.css" />
  <link href="assets/vendor/international-phone-number/intlTelInput.css" rel="stylesheet" />


  <!-- Main CSS here -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="stylebook.css">

  <!-- Part CSS Here -->
  <link rel="stylesheet" href="assets/part/shop/shop.css" />
</head>

<body>
  <main-header></main-header>
  <div id="preloader"></div>
  <!-- Hero section start -->
  <section class="hero">
    <div class="container d-xl-flex align-items-start">
      <div class="hero_about col-xl-6">
        <div class="hero_header">
          <h1 class="hero_header-title">Check Our New Books</h1>
          <p class="hero_header-text">
            Temukan buku-buku terbaik untuk mengasah kemampuan public speaking Anda di Dialogika. Kami siap membantu
            Anda menjadi seorang pembicara yang percaya diri, menginspirasi, dan mempengaruhi dunia. Mulailah perjalanan
            Anda sekarang!
          </p>
          <a class="hero_header-btn scrollto" href="#productAreaTitle">Shop Now</a>
        </div>
        <div class="hero_contacts">
          <p class="hero_contacts-text">
            Our support team is available 24/7 to resolve any product issues
          </p>
          <span class="hero_contacts-data d-flex flex-column flex-sm-row align-items-center">
            <span class="icon d-flex align-items-center justify-content-center">
              <i class="icon-call"></i>
            </span>
            <span class="d-flex flex-column">
              <span>Phone number</span>
              <a class="link" href="tel:+1234567890">+62 851-6299-2597</a>
            </span>
          </span>
        </div>
      </div>
      <div class="hero_promo col-xl-6" id="heroPromo">
        <div class="hero_promo-underlay"></div>
        <div class="hero_promo-underlay--highlight"></div>
        <div class="hero_slider swiper">
          <div class="swiper-wrapper">
            <div
              class="hero_slider-slide d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-md-center swiper-slide">
              <div class="hero_slider-slide_media">
                <picture>
                  <source data-srcset="img/placeholder.jpg" srcset="
                        https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg
                      " type="image/webp" />
                  <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                </picture>
              </div>
              <div class="hero_slider-slide_main">
                <h2 class="title">Judul Buku 1</h2>
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing illum
                  vero itaque adipisci ipsa sit praesentium ullam.
                </p>
                <ul class="list">
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Mengatasi Grogi
                  </li>
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Lancar Public Speaking
                  </li>
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Menjadi Ganteng
                  </li>
                </ul>
                <a class="btn--underline" href="#">About Product</a>
              </div>
            </div>
            <div
              class="hero_slider-slide d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-md-center swiper-slide">
              <div class="hero_slider-slide_media">
                <picture>
                  <source data-srcset="img/placeholder.jpg" srcset="
                        https://images-na.ssl-images-amazon.com/images/I/7167iiDUeAL.jpg
                      " type="image/webp" />
                  <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                </picture>
              </div>
              <div class="hero_slider-slide_main">
                <h2 class="title">Judul Buku 2</h2>
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing illum
                  vero itaque adipisci ipsa sit praesentium ullam.
                </p>
                <ul class="list">
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Mengatasi Grogi
                  </li>
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Lancar Public Speaking
                  </li>
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Menjadi Ganteng
                  </li>
                </ul>
                <a class="btn--underline" href="#">About Product</a>
              </div>
            </div>

            <div
              class="hero_slider-slide d-flex flex-column flex-md-row justify-content-between justify-content-md-start align-items-md-center swiper-slide">
              <div class="hero_slider-slide_media">
                <picture>
                  <source data-srcset="img/placeholder.jpg" srcset="
                        https://images-na.ssl-images-amazon.com/images/I/81WcnNQ-TBL.jpg
                      " type="image/webp" />
                  <img class="lazy" data-src="img/placeholder.jpg" src="img/placeholder.jpg" alt="media" />
                </picture>
              </div>
              <div class="hero_slider-slide_main">
                <h2 class="title">Judul Buku 3</h2>
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing illum
                  vero itaque adipisci ipsa sit praesentium ullam.
                </p>
                <ul class="list">
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Mengatasi Grogi
                  </li>
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Lancar Public Speaking
                  </li>
                  <li class="list-item d-flex align-items-center justify-content-center justify-content-sm-start">
                    <span class="icon d-flex align-items-center justify-content-center">
                      <i class="icon-check"></i>
                    </span>
                    Menjadi Ganteng
                  </li>
                </ul>
                <a class="btn--underline" href="#">About Product</a>
              </div>
            </div>
          </div>
          <div class="hero-pagination swiper-pagination d-sm-flex flex-column"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero section end -->

  <!-- FEATURE AREA START ( Feature - 3) -->

  <section class="ltn__feature-area mt-100 mt--65" style="margin-top: 0px; margin-bottom: 0px; bottom: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="ltn__feature-item-box-wrap ltn__feature-item-box-wrap-2 ltn__border section-bg-6 position-relative">
            <div class="ltn__feature-item ltn__feature-item-8">
              <div class="ltn__feature-icon">
                <img src="assets/img/icons/svg/8-trolley.svg" alt="#">
              </div>
              <div class="ltn__feature-info">
                <h4>Free shipping</h4>
                <p>Untuk pesanan diatas Rp.300.000</p>
              </div>
            </div>
            <div class="ltn__feature-item ltn__feature-item-8">
              <div class="ltn__feature-icon">
                <img src="assets/img/icons/svg/9-money.svg" alt="#">
              </div>
              <div class="ltn__feature-info">
                <h4>15 days returns</h4>
                <p>Garansi uang kembali</p>
              </div>
            </div>
            <div class="ltn__feature-item ltn__feature-item-8">
              <div class="ltn__feature-icon">
                <img src="assets/img/icons/svg/10-credit-card.svg" alt="#">
              </div>
              <div class="ltn__feature-info">
                <h4>Secure checkout</h4>
                <p>Transfer aman melalui Bank</p>
              </div>
            </div>
            <div class="ltn__feature-item ltn__feature-item-8">
              <div class="ltn__feature-icon">
                <img src="assets/img/icons/svg/11-gift-card.svg" alt="#">
              </div>
              <div class="ltn__feature-info">
                <h4>Offer & gift here</h4>
                <p>Untuk semua pesanan buku</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- FEATURE AREA END -->


  <!-- Cart Section -->
  <h2 class="section-title section-title--center" id="productAreaTitle" style="margin: 0; padding: 0;">
    Katalog
    <span class='section-title__highlight'>Buku</span>
  </h2>
  <div class="underline"></div>
  <div id="app">
    <!-- Cart Button -->
    <div class="">
      <button class="btn position-fixed top-0 end-0 m-4" @click="toggleCart"
        style="z-index: 999; margin-top: 170px !important; background-color: #ffd400; border-color: #ffd400;">
        <!-- Inline SVG for the cart icon -->
        <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#ffffff"
          style="margin-right: 8px;">
          <path
            d="M200-80q-33 0-56.5-23.5T120-160v-480q0-33 23.5-56.5T200-720h80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720h80q33 0 56.5 23.5T840-640v480q0 33-23.5 56.5T760-80H200Zm0-80h560v-480H200v480Zm280-240q83 0 141.5-58.5T680-600h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85h-80q0 83 58.5 141.5T480-400ZM360-720h240q0-50-35-85t-85-35q-50 0-85 35t-35 85ZM200-160v-480 480Z" />
        </svg>
        <div v-if="cartItems.length > 0" id="iconnumber" class="d-inline-block bg-danger text-white rounded-circle">
          {{ cartItems.length }}
        </div>

      </button>
    </div>

    <!-- Cart Sidebar -->
    <div id="cart-sidebar" :class="{ 'open': isCartOpen }">
      <div class="p-4 d-flex flex-column" style="height: 100vh; overflow-y: auto;">

        <div class="d-flex justify-content-between align-items-center mb-4" style="position: relative;">
          <h4>Your Cart</h4>
          <!-- Close Button -->
          <button class="close-btn-new btn-danger rounded-2 px-2" @click="toggleCart">&times;</button>
        </div>


        <!-- Cart Items with Scroll -->
        <div class="cart-items mt-3 mb-3" style="flex-grow: 1; overflow-y: auto;">
          <ul class="list-group">
            <li v-for="(item, index) in cartItems" :key="item.id" class="list-group-item d-flex flex-column">
              <!-- Display item name and total price per item -->
              <div class="d-flex justify-content-between align-items-center gap-3">
                <span>{{ item.judul }}</span>
                <span>Rp{{ (item.harga * item.quantity).toLocaleString() }}</span>
              </div>


              <!-- Quantity controls with + and - buttons -->
              <div class="d-flex align-items-center justify-content-between my-2">
                <div class="d-flex align-items-center border border-gray-300 rounded-lg overflow-hidden">
                  <button class="btn btn-light" @click="decreaseQuantity(index)">-</button>
                  <input type="text" v-model="item.quantity" class="form-control text-center" readonly
                    style="width: 50px;margin-bottom: 0px;">
                  <button class="btn btn-light" @click="increaseQuantity(index)">+</button>
                </div>
                <!-- Remove button -->
                <button class="btn btn-danger" @click="removeFromCart(index)">Hapus</button>
              </div>
            </li>
          </ul>
        </div>

        <!-- Checkout Form -->
        <div class="mt-4">
          <h5>Checkout Details</h5>

          <!-- Name Field -->
          <div class="mb-3">
            <label for="name" class="form-label custom-label">Name</label>
            <input type="text" class="form-control custom-input" id="name" v-model="customerName" required>
          </div>

          <!-- WhatsApp Number Field -->
          <div class="mb-3">
            <label for="whatsapp" class="form-label custom-label">WhatsApp Number</label>
            <input type="text" class="form-control custom-input" id="whatsapp" v-model="whatsappNumber" required>
          </div>

          <!-- Email Field -->
          <div class="mb-3">
            <label for="email" class="form-label custom-label">Email</label>
            <input type="email" class="form-control custom-input" id="email" v-model="email" required>
          </div>

          <!-- Checkout Button -->
          <button class="btn btn-success w-100 mt-2" data-bs-toggle="modal"
            data-bs-target="#checkoutModal">Checkout</button>
        </div>


      </div>
    </div>

    <!-- Product Area Start -->
    <div class="container my-5">
      <div class="row justify-content-center" id="productArea">
        <div id="cardbook" class="col-lg-3 col-md-4 col-6 custom-padding" v-for="book in books" :key="book.id">
          <div class="card h-100 d-flex flex-column p-0">
            <!-- Image Section -->
            <img :src="book.gambar" class="img-fluid object-fit-contain"
              style="min-height: 300px; max-height: 300px; cursor: pointer;" loading="lazy" :alt="book.judul"
              @click="openModal(book)">

            <div class="card-body d-flex flex-column align-items-start text-start flex-grow-1 w-100"
              style="border-top: 1px solid rgba(120, 120, 120, 0.526);">
              <!-- Author Name -->
              <h6 class="author-name text-muted">{{ book.author }}</h6>

              <!-- Book Title with Clickable Modal -->
              <h5 class="card-title truncate-2-lines" style="cursor: pointer;" @click="openModal(book)">
                {{ truncatedTitle(book.judul) }}
              </h5>

              <!-- Price Section -->
              <div class="price-section">
                <p class="new-price" style="margin-bottom: 0;">Rp{{ (book.harga - book.diskon).toLocaleString() }}</p>
                <p class="old-price" v-if="book.discount"><del>Rp{{ book.harga.toLocaleString() }}</del></p>
              </div>

              <!-- Discount Percentage -->
              <div class="discount-badge" v-if="book.discount > 0">{{ book.discount }}%</div>
            </div>

            <!-- Add to Cart Button -->
            <div class="card-footer d-flex justify-content-center mt-auto text-center border-0 pt-0 pb-3">
              <button type="button" class="blue-modern-dialogika-btn rounded py-2 px-4 text-white border-0"
                @click="addToCart(book)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Area End -->


    <!-- Product Confirmation Start -->
    <!-- Dynamic Modal -->
    <div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dynamicModalLabel">{{ modalTitle }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img :src="modalImage" class="img-fluid mb-3" alt="Product Image">
            <p>{{ modalDescription }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="blue-modern-dialogika-btn rounded p-2 text-white border-0"
              @click="addToCart(selectedBook)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Product Confirmation End -->


    <!-- Modal Confirmation -->
    <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="checkoutModalLabel">Order Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Please confirm your order details:</p>

            <!-- User Details -->
            <div class="mb-3">
              <p><strong>Name:</strong> {{ customerName }}</p>
              <p><strong>Email:</strong> {{ email }}</p>
              <p><strong>WhatsApp:</strong> {{ whatsappNumber }}</p>
            </div>
            <ul>
              <li v-for="item in cartItems" :key="item.id" class="d-flex align-items-center">
                <!-- Display book image -->
                <img :src="item.gambar" :alt="item.judul" class="img-thumbnail me-3" style="width: 50px; height: 75px;">
                <!-- Display book title, quantity, and price -->
                <div>
                  <p>{{ item.judul }} - {{ item.quantity }} pcs</p>
                  <p class="text-muted">Rp{{ (item.harga * item.quantity).toLocaleString() }}</p>
                </div>
              </li>
            </ul>
            <p>Total: Rp{{ total.toLocaleString() }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="confirmCheckout">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Confirmation End -->


    <script>
      // Vue.js Cart App
      const app = Vue.createApp({
        data() {
          return {
            books: [
              {
                "id": 1,
                "gambar": "https://i.pinimg.com/originals/a8/b9/ff/a8b9ff74ed0f3efd97e09a7a0447f892.jpg",
                "judul": "Ten Thousand Skies Above You",
                "harga": 100000,
                "diskon": 3000,
                "kategori": "Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
              },
              {
                "id": 2,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/81WcnNQ-TBL.jpg",
                "judul": "Valll Push Test",
                "harga": 150000,
                "diskon": 5000,
                "kategori": "Non-Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 15,
              },
              {
                "id": 3,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/81UWB7oUZ0L.jpg",
                "judul": "The Road Less Traveled",
                "harga": 80000,
                "diskon": 4000,
                "kategori": "Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 4,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/7167iiDUeAL.jpg",
                "judul": "Thinking, Fast and Slow",
                "harga": 180000,
                "diskon": 8000,
                "kategori": "Non-Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 5,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/91M4E+SURUL.jpg",
                "judul": "The Power of Habit",
                "harga": 250000,
                "diskon": 10000,
                "kategori": "Non-Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 10,
              },
              {
                "id": 6,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/51N-u8AsmdL._SX327_BO1,204,203,200_.jpg",
                "judul": "The Alchemist",
                "harga": 90000,
                "diskon": 2000,
                "kategori": "Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 7,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/81eB+7+CkUL.jpg",
                "judul": "Atomic Habits",
                "harga": 120000,
                "diskon": 4000,
                "kategori": "Non-Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 8,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg",
                "judul": "Sapiens: A Brief History of Humankind",
                "harga": 280000,
                "diskon": 15000,
                "kategori": "Non-Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 9,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/71KilybDOoL.jpg",
                "judul": "The Catcher in the Rye",
                "harga": 95000,
                "diskon": 5000,
                "kategori": "Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 10,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/91uwocAMtSL.jpg",
                "judul": "The Great Gatsby",
                "harga": 110000,
                "diskon": 3500,
                "kategori": "Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              },
              {
                "id": 11,
                "gambar": "https://images-na.ssl-images-amazon.com/images/I/91uwocAMtSL.jpg",
                "judul": "The Great Gatsby",
                "harga": 110000,
                "diskon": 3500,
                "kategori": "Fiksi",
                "deskripsi": "Hello World !",
                "quantity": 0,
                "discount": 0,
              }
            ],
            cartItems: [],
            isCartOpen: false,
            customerName: '',
            selectedBook: null,
            modalTitle: '',
            modalImage: '',
            modalDescription: '',
            whatsappNumber: '',
            email: ''
          };
        },
        computed: {
          total() {
            return this.cartItems.reduce((sum, item) => sum + (item.harga * item.quantity), 0);
          }
        },
        methods: {
          truncatedTitle(title) {
            // Truncate long titles (Optional Utility Method)
            return title.length > 50 ? title.substring(0, 50) + "..." : title;
          },
          openModal(book) {
            this.selectedBook = book;
            // Set modal data dynamically
            this.modalTitle = book.judul;
            this.modalImage = book.gambar;
            this.modalDescription = book.deskripsi; // Ensure 'deskripsi' exists in your books array

            // Open the modal
            const modal = new bootstrap.Modal(document.getElementById("dynamicModal"));

            console.log("this is modal title :", this.modalTitle)
            console.log("this is modal description :", this.modalDescription)
            modal.show();
          },
          addToCart(book) {
            const cartItem = this.cartItems.find(item => item.id === book.id);
            if (cartItem) {
              cartItem.quantity++;
            } else {
              this.cartItems.push({ ...book, quantity: 1 });
            }
            this.isCartOpen = true; // Open cart when item is added
          },
          removeFromCart(index) {
            this.cartItems.splice(index, 1);
          },
          increaseQuantity(index) {
            this.cartItems[index].quantity++;
          },
          decreaseQuantity(index) {
            if (this.cartItems[index].quantity > 1) {
              this.cartItems[index].quantity--;
            }
          },
          toggleCart() {
            this.isCartOpen = !this.isCartOpen;
          },
          confirmCheckout() {
            if (!this.customerName || !this.whatsappNumber || !this.email) {
              alert('Please fill in all checkout details.');
              return;
            }

            let message = `Halo kaak!! 👋%0AAku ${this.customerName} mau pesan buku-buku ini :%0A`;

            this.cartItems.forEach(item => {
              message += `- ${item.judul}%0AQuantity: ${item.quantity}%0APrice: Rp${(item.harga * item.quantity).toLocaleString()}%0A--------------------------------%0A`;
            });

            let customerDetails = `%0A📝 Detail Pemesan %0ANama: ${this.customerName}%0AWhatsApp: ${this.whatsappNumber}%0AEmail: ${this.email}%0A--------------------------------%0A`;

            message += `Total Amount: Rp${this.total.toLocaleString()}%0A ${customerDetails}`;

            const whatsappUrl = `https://api.whatsapp.com/send?phone=6285162992597&text=${message}`;
            window.open(whatsappUrl, '_blank');

            // Setelah membuka tab WA, reload halaman untuk reset aplikasi
            setTimeout(() => {
              window.location.reload(); // Refresh halaman setelah beberapa detik
            }, 1000); // Timeout 1 detik untuk memastikan WhatsApp dibuka terlebih dahulu
          }
        }
      });

      // Mount Cart App
      app.mount('#app');
    </script>



    <!-- Footer -->
    <main-footer></main-footer>
    <!-- End Footer -->

    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jarallax.js"></script>

    <!-- js here -->
    <script src="assets/part/shop/shop.js"></script>
    <script src="assets/js/script.js"></script>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- ICONS -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/headerfooter.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/index.min.js"></script>
    <script src="assets/js/cart.js"></script>
    <script>
      $(".mobile-nav-toggle").on("click", function (e) {
        $("#sidebar-mobile").offcanvas("show");
      });
    </script>
</body>

</html>